@import "../../../../breakpoints.scss";

.cardInner{
    border: 1px solid var(--hover-color);
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    width: 48%;

    @include media('>smphone', '<=phone'){
        width: unset;
    }
    @include media('>phone', '<=mobile'){
        width: unset;
    }
    @include media('>mobile', '<=largemb'){
        width: unset;
    }
    @include media('>largemb', '<=tablet'){
        width: unset;
    }
    .ratHr{
        margin: 10px 0;
        color: var(--hover-color);
    }
    .head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // gap: 10px;
        .customer{
            display: flex;
            align-items: center;
            gap: 15px;
            border-right: 1px solid var(--hover-color);
            padding-right: 50px;

            @include media('>phone', '<=mobile'){
                gap: 10px;
                padding-right: 20px;
            }
            @include media('>smphone', '<=phone'){
                
            }
            @include media('>mobile', '<=largemb'){
                gap: 10px;
                padding-right: 25px;
            }
            @include media('>largemb', '<=tablet'){
        
            }
            
        }

    }





    
}