@import "../../../breakpoints.scss";

.similarProductsSection{
    .heading{
        h4{
            font-size: 18px;
            font-weight: 600;
            margin: 10px;
        }
    }
    .container{
        display: flex;
        // overflow-x: scroll;
        gap: 15px;
        // width: 80%;
        @include media('>phone', '<=mobile'){
            display: -webkit-box;
            overflow: scroll;
            padding: 10px

        }
        @include media('>smphone', '<=phone'){
                        display: -webkit-box;
            overflow: scroll;
            padding: 10px
        }
        @include media('>mobile', '<=largemb'){
                        display: -webkit-box;
            overflow: scroll;
            padding: 10px
        }
        @include media('>largemb', '<=tablet'){
                        display: -webkit-box;
            overflow: scroll;
            padding: 10px
        }
    }
}