.featureInner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin: 10px 0;
    margin-right: 30px;
    .innerLeft{                               
        p{
            font-size: 14px;
            // font-weight: 500;
        }
    }
    
}