@import "../../../breakpoints.scss";

.productTable{
    margin: 15px 0;
    width: 100%;
    
    table{
        width: 100%;
        border-collapse: collapse;
        th{
            font-size: 16px;
            font-weight: 600;
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid var(--un-color);
            @include media('>phone', '<=mobile'){
                font-size: 14px;
                padding: 0;
            }
            @include media('>smphone', '<=phone'){
        
            }
            @include media('>mobile', '<=largemb'){
        
            }
            @include media('>largemb', '<=tablet'){
        
            }
        }
        td{
            font-size: 14px;
            font-weight: 500;
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid var(--un-color);
            @include media('>phone', '<=mobile'){
                font-size: 12px;
                padding: 0 5px;
            }
            @include media('>smphone', '<=phone'){
        
            }
            @include media('>mobile', '<=largemb'){
        
            }
            @include media('>largemb', '<=tablet'){
        
            }
        }
    }
}